@font-face {
  font-family: 'Jost';
  src: url(./assets/fonts/jost400.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Jost';
  src: url(./assets/fonts/jost500.ttf);
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost';
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
}

.container {
  max-width: 100%;
  width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}